<launch>
  
  <!-- <node name="joy_node" pkg="joy" type="joy_node">
    <param name="dev" value="/dev/input/js0"/>
    <param name="coalesce_interval" value="0.02"/>
    <param name="autorepeat_rate" value="30.0"/>
  </node> -->

  <!-- <node name="arduino_node"        pkg="rosserial_python"      type="serial_node.py">
    <param name="port"              type="string"               value="/dev/ttyACM0"/>
    <param name="baud"              type="int"                  value="57600"/>
  </node> -->

  <node pkg="nerf_turret" name="turret_node" type="turret_node_camera"/>

  <node pkg="mecanum_pkg" name="mecanum_node" type="mecanum"/>

  <node name="teleop_node" pkg="teleop_twist_joy" type="teleop_node">
    <rosparam command="load" file="$(find nerf_turret)/config/joy_mapping.yaml"/>
    <remap from="cmd_vel" to="mecanum_command"/>
  </node>

</launch>
